<h3>Analitics</h3><br/>


<table class="table table-striped" style="width: 100%;">
    <?php if ($data['articles']) {
        foreach( $data['articles'] as $art ) { ?>
             <hr>
                <h3><a href="/article_page/view/<?= $art['art_id'] ?>" > <?= $art['art_title'] ?> </a></h3>
                <p><?= $art['art_text']?></p>

    <?php }  } ?>
</table>
<hr>


<p><b>Page: <?= $data['pagination']['currentPage'] ?></b></p>

<a href="/analitics/analitics/?<?= $data['filter_url'] ?>&to_page=1" ><button class="btn btn-sm btn-primary">First</button></a>

<div style=" display: inline-block; position: relative;  ">
    <button class="btn btn-sm btn-primary" style="width: 50px;" onclick="paginationTable()">. . .</button>

    <div id="show_table_pagin" data_show=""  class="" style=" display: none; position:absolute; left: 0px; top:100% ; overflow: scroll; height: 70px; width: 50px;" >
        <table class="-table -table-striped" style="width: 40px; background: #ffffff; position: absolute;  ">
            <?php
            for ( $i = 1 ; $i <= $data['pagination']['pagesCount'] ; $i++ ) { ?>
            <tr><td  align="center" ><b><a  href="/analitics/analitics/?<?= $data['filter_url'] ?>&to_page=<?= $i ?>" > <?= $i ?> </a></b><td></tr>
            <?php  } ?>
        </table>
    </div>
</div>

<a href="/analitics/analitics/?<?= $data['filter_url'] ?>&to_page=<?= $data['pagination']['pagesCount'] ?>" ><button class="btn btn-sm btn-primary">Last (<?= $data['pagination']['pagesCount'] ?>)</button></a>





