.bg_head{
                            background:  #111144;
                            background-image: url(/webroot/img/background/bg_head);
                            background-size:  cover;
                            }